@import "./primitives/color.css";
@import "./primitives/spacing.css";
@import "./primitives/typography.css";
@import "./primitives/radius.css";
@import "./primitives/shadow.css";

@import "./semantics/surface.css";
@import "./semantics/text.css";
@import "./semantics/border.css";
@import "./semantics/color.css";

@import "./components/button.css";
@import "./components/input.css";
@import "./components/card.css";
@import "./components/auth.css";
@import "./components/label.css";
@import "./components/text.css";
@import "./components/navbar.css";
@import "./components/auth-form.css";
