@import "../design-system/tokens/index.css";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  background: var(--color-bg-secondary);
  color: var(--color-text);
}
