:root {
  --blue-500: #2d5cff;
  --blue-600: #1f46cc;

  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-400: #94a3b8;
  --grey-900: #0f172a;

  --white: #fff;
  --black: #000;
}
